.side
  .side-header
    .side-header__box
      %p.side-header__box__user
        = current_user.name
      %ul.side-header__box__icon
        %li.side-header__box__icon__edit
        = link_to '#', class: 'side-header__box__icon__edit fa-inverse' do
          %i.fa.fa-edit
        %li.side-header__box__icon__entry
        = link_to edit_user_path(current_user), class: 'side-header__box__icon__entry fa-inverse' do
          %i.fa.fa-cog
  .side-groups
    %p.side-groups__name test
    %p.side-groups__message まだメッセージはありません

